attrs==19.1.0
backports.functools-lru-cache==1.5
blis==0.2.4
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cymem==2.0.2
dialogflow==0.6.0
emoji==0.5.2
Faker==1.0.7
firebase-admin==2.17.0
Flask==1.0.3
Flask-WTF==0.14.2
google-api-core==1.12.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.2
google-cloud-firestore==1.2.0
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
googletrans==2.4.0
grpcio==1.21.1
httplib2==0.13.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
langdetect==1.0.7
MarkupSafe==1.1.1
msgpack==0.6.1
murmurhash==1.0.2
numpy==1.16.4
plac==0.9.6
preshed==2.0.1
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycld2==0.31
pyrsistent==0.15.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.1
regex==2019.6.8
requests==2.22.0
rsa==4.0
selenium==3.141.0
six==1.12.0
splinter==0.10.0
srsly==0.0.7
text-unidecode==1.2
thinc==7.0.4
tqdm==4.32.2
uritemplate==3.0.0
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.4
WTForms==2.2.1
