apturl==0.5.2
asn1crypto==0.24.0
aspy.yaml==1.3.0
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
backports.functools-lru-cache==1.5
base58==1.0.2
beautifulsoup4==4.7.1
bigchaindb-driver==0.6.2
binwalk==2.1.1
blinker==1.4
blis==0.2.4
Brlapi==0.6.6
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
cfgv==2.0.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.3.7
command-not-found==0.3
comtypes==1.1.7
constantly==15.1.0
cryptoconditions==0.8.0
cryptography==2.6.1
cssselect==1.0.3
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.2
decorator==4.1.2
defer==1.0.6
dialogflow==0.6.0
distro-info===0.18ubuntu0.18.04.1
Django==2.1.7
django-crispy-forms==1.7.2
emoji==0.5.2
en-core-web-sm==2.1.0
Faker==1.0.7
filelock==3.0.12
firebase-admin==2.17.0
Flask==1.0.3
Flask-WTF==0.14.2
google-api-core==1.13.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.2
google-cloud-firestore==1.2.0
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
googletrans==2.4.0
grpcio==1.22.0
httplib2==0.13.0
hyperlink==19.0.0
identify==1.4.5
idna==2.8
image==1.5.27
importlib-metadata==0.18
importlib-resources==1.0.2
incremental==17.5.0
indic-transliteration==1.8.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
langdetect==1.0.7
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.3.4
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==2.1.1
more-itertools==7.0.0
msgpack==0.6.1
murmurhash==1.0.2
netifaces==0.10.4
nltk==3.4.4
nodeenv==1.3.3
numpy==1.16.4
oauth==1.0.1
olefile==0.45.1
packaging==19.0
parsel==1.5.1
pexpect==4.2.1
Pillow==5.4.1
plac==0.9.6
pluggy==0.12.0
pre-commit==1.17.0
preshed==2.0.1
prettytable==0.7.2
protobuf==3.8.0
psycopg2==2.8.2
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycairo==1.16.2
pycld2==0.31
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.9.0
pyinotify==0.9.6
pymacaroons==0.13.0
PyNaCl==1.1.2
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyqtgraph==0.10.0
pyRFC3339==1.0
pyrsistent==0.15.2
pysha3==1.0.2
pytest==4.4.2
python-apt==1.6.3+ubuntu1
python-dateutil==2.8.0
python-debian==0.1.32
python-dotenv==0.10.3
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
pytz==2019.1
pyxdg==0.25
PyYAML==5.1.1
queuelib==1.5.0
regex==2019.6.8
reportlab==3.4.0
requests==2.22.0
requests-unixsocket==0.1.5
rsa==4.0
scipy==0.19.1
Scrapy==1.6.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
selenium==3.141.0
service-identity==18.1.0
simplejson==3.13.2
six==1.12.0
sockets==1.0.0
soupsieve==1.9.1
spacy==2.1.4
spacy-cld==0.1.0
splinter==0.10.0
srsly==0.0.7
system-service==0.3
systemd-python==234
text-unidecode==1.2
textblob==0.15.3
thinc==7.0.4
toml==0.10.0
tox==3.13.2
tqdm==4.32.2
traitlets==4.3.2
translate==3.5.0
Twisted==19.2.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.0
urllib3==1.25.3
urwid==2.0.1
usb-creator==0.3.3
vboxapi==1.0
virtualenv==16.6.1
w3lib==1.20.0
wadllib==1.3.2
wasabi==0.2.2
Werkzeug==0.15.4
WTForms==2.2.1
xkit==0.0.0
zipp==0.5.1
zope.interface==4.6.0
